html {
	background: linear-gradient(darkblue, orange) fixed;
	padding-bottom: 400px;
}
body {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background: #033;
	color: #eee;
	border-radius: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: #555;
	padding: 10px;
	 }

h1,h2,h3,h4 {
	text-align: center;
	 }
h1 {
	font-size: 48px;
	text-shadow: 3px 0 black, 3px 3px black, 0 3px black;
	}

a { color: lightblue; }

.image {
	margin: auto;
}
