html{padding-bottom: 450px;}
body{margin:40px auto;max-width:650px;line-height:1.6;font-size:18px;color:#333;padding:0
10px}

caption	{
	font-size: small;
}

table {
	margin: 0px auto;
}

h1,h2,h3,h4{text-align:center;line-height:1.2}

footer img {
	max-height: 75px;
	vertical-align: middle;
	padding: 10px;
}

footer {
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	}
