<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<a href="{{ .Site.Home.RelPermalink }}"><header>
	<h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1>
	{{- with .Param "subtitle" }}
	<h2>{{ . }}</h2>
	{{- end }}
</header></a>
<article>
{{ block "main" . -}}
{{- .Content -}}
{{ end -}}
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
</article>
</main>
{{ block "footer" . -}}
<footer>
	<hr>
	<a href="{{ .Site.BaseURL }}"><img src="/pix/larbs.gif" title="LARBS: Because n00buntu is bloated." ></a>
	<br>
	<em>official larbs donation fund:</em>
	<ul>
		<li>xmr: <code style="font-size:x-small;overflow-wrap:break-word">8A2cBbmN9p9Ruz8e1526Nscz28gfPS1GveitMY3V7RnpLwdExmQNddY4a49Hi7wNbM2yV8vrBZF8zcKCTHMqRUb82CUMEJj</code></li>
		<li>btc: <code class="">bc1qhx0elzzpyxy5fvz0x662zh9efghcxgt4knc7w4</code></li>
	</ul>
	{{- if .Param "showrss" }}<br><br><a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>{{ end }}

</footer>
{{ end -}}
</body>
</html>
