html {
	background: black ;
	padding-bottom: 400px;
}
body {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background: #011 ;
	color: #eee;
	border-style: solid;
	border-width: 5px;
	border-color: #555;
	 }


main {
	padding: 1em ;
}

h1,h2,h3,h4 {
	text-align: center;
	 }
h1 {
	font-size: 48px;
	text-shadow: 3px 0 black, 3px 3px black, 0 3px black;
	color: #00ccff ;
	}

h2 {
	color: #00bbdd ;
}

h3 {
	color: #00aabb ;
}

a { color: lightblue; }

.image {
	margin: auto;
}

.qr { max-width: 150px ; padding: 10px }

p img, li img, h1 img, h2 img, h3 img, h4 img {
	max-height: 1em;
	max-width: 1em;
}

pre {
	border: 1px solid lime ;
	border-radius: 20px ;
	padding: 1em ;
	margin: 1em ;
	white-space: pre-wrap;
}

code {
	border-radius: 5px ;
	overflow-wrap: break-word ;
}

code:not(pre code) {
	color: lime ;
}

aside {
	color: gray ;
	font-style: italic ;
	font-size: small ;
}

footer {
	text-align: center ;
}


.normal {
	align: center ;
}

.normal img {
	margin: auto ;
	max-width: 90% ;
	max-height: 400px ;
	display: block ;
}

figcaption {
	text-align: center ;
	display: block ;
	font-style: italic ;
}

kbd {
  border-radius: 5px;
  padding: 1px 2px ;
  min-width: 1em ;
  border: 1px solid black ;
  background: #222 ;
  color: white ;
}
